<div class="background">
    <div class="formContainer">
        <h2>Restablesca su contraseña</h2>

        <form action="http://localhost:8080/api/users/changePassword" method="post" class="form">
            <p class="text">Email</p>
            <input type="text" name="email" id="email" class="input" placeholder="user@gmail.com">

            <p class="text">Nueva contraseña</p>
            <input type="text" name="password" id="password" class="input" placeholder="************">

            <button type="submit" id="btn" class="btn">Enviar email</button>
        </form>
    </div>
</div>

<script src="/public/js/login.js"></script>