<div class="background">
    <div class="formContainer">
        <h2>Inicia Sesion</h2>

        <form action="login" method="post" class="form">
            <p class="text">Email</p>
            <input type="text" name="username" id="email" class="input" placeholder="user@gmail.com">

            <p class="text">Password</p>
            <input type="text" name="password" id="password" class="input" placeholder="************">

            <button type="submit" id="btn" class="btn">Iniciar Sesión</button>
            <a href="http://localhost:8080/auth/github" id="btnGit" class="btn git">Iniciar Sesión con Github</a>
            <a href="http://localhost:8080/api/mail" id="btnGit" class="btn git">Restablecer Contraseña</a>
        </form>
    </div>
</div>

<script src="/public/js/login.js"></script>