<div class="background">
    <div class="formContainer">
        <h2>Ingrese su mail para restablecer la contraseña</h2>

        <form action="http://localhost:8080/api/mail" method="post" class="form">
            <p class="text">Email</p>
            <input type="text" name="email" id="email" class="input" placeholder="user@gmail.com">

            <button type="submit" id="btn" class="btn">Enviar email</button>
        </form>
    </div>
</div>