<div>
    <h2>Agrega un producto</h2>
    <form>
        <label>Titulo</label> <br>
        <input type="text" name="title" id="title"> <br>

        <label>Descripcion</label> <br>
        <input type="text" name="description" id="description"> <br>

        <label>Code</label> <br>
        <input type="number" name="code" id="code"> <br>

        <label>Precio</label> <br>
        <input type="number" name="price" id="price"> <br>

        <label>Status</label> <br>
        <input type="text" name="status" id="status"> <br>

        <label>Stock</label> <br>
        <input type="number" name="stock" id="stock"> <br>

        <label>Categoria</label> <br>
        <input type="text" name="category" id="category"> <br>

        <label>Imagen</label> <br>
        <input type="text" name="thumbnail" id="thumbnail"> <br>

        <input type="submit" id="submitProduct">
    </form>

    <h2>Elimine un producto</h2>
    <form>
        <label>Ingrese el nombre del producto</label> <br>
        <input type="text" name="title" id="titleDelete"> <br>

        <input type="submit" id="deleteProduct">
    </form>

    <h2>Todos los Productos</h2>

    <div id="container"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>