<div class="background">
    <div class="formContainer">
        <h2>Registarte</h2>

        <form action="register" method="post" class="form">

            <p class="text">Nombre</p>
            <input type="text" name="first_name" id="email" class="input" placeholder="Tu nombre">

            <p class="text">Apellido</p>
            <input type="text" name="last_name" id="email" class="input" placeholder="Tu apellido">

            <p class="text">Edad</p>
            <input type="text" name="age" id="email" class="input" placeholder="18">

            <p class="text">Email</p>
            <input type="text" name="email" id="email" class="input" placeholder="user@gmail.com">

            <p class="text">Password</p>
            <input type="text" name="password" id="password" class="input" placeholder="************">

            <button type="submit" id="btn" class="btn">Registrarse</button>
        </form>
    </div>
</div>

<script src="/public/js/login.js"></script>